<h1>My Cheesy Authentication Angular 1.5 Demo</h1>
<div authenticated="true">
    <div ng-controller="authentication">
        <h3>Authenticated</h3>
        <button type="button" ng-click="ping()">Ping</button>
        <button type="button" ng-click="logout()">Logout</button>
        <button type="button" ng-click="back()">Back</button>
    </div>
</div>
<div authenticated="false">
    <div ng-controller="authentication">
        <h3>Not Authenticated</h3>
        <button type="button" ng-click="login()">Login</button>
        <button type="button" ng-click="back()">Back</button>
    </div>
</div>