<h1>My Cheesy Authentication Angular 6 Demo</h1>
<div authenticated="true">
    <div ng-controller="authentication">
        <h3>Authenticated</h3>
        <button type="button" (click)="ping()">Ping</button>
        <button type="button" (click)="logout()">Logout</button> 
        <button type="button" (click)="back()">Back</button>
    </div>
</div>
<div authenticated="false">
    <div ng-controller="authentication">
        <h3>Not Authenticated</h3>
        <button type="button" (click)="login()">Login</button>
        <button type="button" (click)="back()">Back</button>
    </div>
</div>